<main>
  <section class="pdf-section" #pdfSection>
    <div class="pdf-header">
      <div class="logo-container">
        <img src="logo_amas.png" alt="Logo AMAS" class="logo" />
      </div>
      <div class="header-text">
        <h1>Associação Metodistas de Ação Social</h1>
        <p>"Criança e Adolescente Prioridade Total!"</p>
      </div>
    </div>
    <hr />
    <h3>{{formulario!.titulo}}</h3>
    <p>{{formulario!.descricaoFormulario}}</p>
    <div class="quest-list" *ngIf="formulario.questoes">
      <div
        class="quest-element"
        *ngFor="let questao of formulario.questoes; let index = index"
      >
        {{index + 1}}# - {{questao?.titulo}}
        <ng-container *ngIf="questao.tipoQuestao === 'TEXT'">
          <span>Resposta...</span>
        </ng-container>
        <ng-container *ngIf="questao.tipoQuestao === 'ESCALA'">
          <div class="escala-list">
            <div
              class="escala-element"
              *ngFor="let opcao of buscarOpcoesParaEscala(questao.escala!.min, questao.escala!.max)"
            >
              {{opcao}}
              <input type="radio" disabled />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="questao.tipoQuestao === 'RADIO'">
          <div class="radio-list">
            <div class="radio-element" *ngFor="let opcao of questao.opcoes">
              <input type="radio" disabled />
              {{opcao}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
  <p-button label="Gerar PDF" (click)="gerarPDF()"></p-button>
</main>
