section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    padding: 50px;
    grid-gap: 1.5em;

    h1{
        font-size: 2em;
        color: #333;
    }
}